[Desktop Entry]
Version=1.0
Name=LXQt KWin Settings
Comment=Decoration, Actions, Focus, Moving, Rules, Composing and others
TryExec=kwin_x11
Exec=kcmshell5 --caption "LXQt KWin Settings" --desktopfile=/usr/share/kservices5/kwindecoration.desktop kcm_kwin_effects kcm_kwin_virtualdesktops kwincompositing kwindecoration kwinoptions kwinrules  kwinscreenedges kwinscripts kwintabbox kwintouchscreen
Icon=kwin
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
