[Desktop Entry]
Version=1.0
Name=Login Screen (SDDM)
Comment=Configure Login Manager
TryExec=kcmshell5 kcm_sddm
Exec=kcmshell5 kcm_sddm
Icon=preferences-system-login
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
