[Desktop Entry]
Version=1.0
Name=Thunderbolt
Comment=Thunderbolt Device Management
TryExec=boltctl
Exec=kcmshell5 kcm_bolt
Icon=preferences-desktop-thunderbolt
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
