[Desktop Entry]
Version=1.0
Name=Fcitx5 Input Method
Comment=Configure Fcitx5 Input Method
TryExec=fcitx5
Exec=kcmshell5 kcm_fcitx5
Icon=fcitx
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
