[Desktop Entry]
Version=1.0
Name=LXQt KCM Bluetooth
Comment=Bluedevil configuration
TryExec=bluedevil-sendfile
Exec=kcmshell5 --caption "LXQt KCM Systemsettings" --desktopfile=/usr/share/kservices5/bluedeviladapters.desktop bluedeviladapters bluedevildevices bluedevilglobal
Icon=preferences-system-bluetooth
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
