[Desktop Entry]
Version=1.0
Name=LXQt KCM Appearance
Comment=Write a good comment TODO
TryExec=kcolorschemeeditor
Exec=kcmshell5 --caption "LXQt KCM Appearance" --desktopfile=/usr/share/kservices5/emoticons.desktop colors emoticons joystick kcm_cursortheme kcm_fonts kcm_icons kcm_launchfeedback kcm_lookandfeel mouse style kde-gtk-config kcm_nightcolor
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
