[Desktop Entry]
Version=1.0
Name=Fancontrol
Comment=Control PWM-fans
TryExec=kcmshell5 kcm_fancontrol
Exec=kcmshell5 kcm_fancontrol
Icon=org.kde.fancontrol.gui
Terminal=false
Type=Application
Categories=LXQt;Settings;DesktopSettings;System;Qt;
StartupNotify=true
OnlyShowIn=LXQt;
