[Desktop Entry]
Version=1.0
Name=Focus
Comment=Active Window Policy
Exec=kcmshell5 kwinfocus
Icon=preferences-system-windows
Terminal=false
Type=Application
Categories=LXQt;Qt;Settings;DesktopSettings;
StartupNotify=true
OnlyShowIn=LXQt;

Name[af]=Fokus
Name[ar]=التركيز
Name[be]=Фокус
Name[be@latin]=Fokus
Name[bg]=Фокус
Name[bn]=ফোকাস
Name[br]=Fokus
Name[bs]=Fokus
Name[ca]=Focus
Name[ca@valencia]=Focus
Name[cs]=Zaměření
Name[csb]=Zrëszanié
Name[cy]=Canolbwynt
Name[da]=Fokus
Name[de]=Aktivierung
Name[el]=Εστίαση
Name[en_GB]=Focus
Name[eo]=Fokuso
Name[es]=Foco
Name[et]=Fookus
Name[eu]=Fokua
Name[fa]=کانون
Name[fi]=Kohdistus
Name[fr]=Focus
Name[fy]=Focus
Name[ga]=Fócas
Name[gl]=Foco
Name[gu]=ધ્યાન
Name[he]=התמקדות
Name[hi]=फ़ोकस
Name[hne]=फोकस
Name[hr]=Fokus
Name[hu]=Fókuszálás
Name[ia]=Foco
Name[id]=Focus
Name[is]=Virkni
Name[it]=Attivazione
Name[ja]=フォーカス
Name[ka]=ფოკუსი
Name[kk]=Назар
Name[km]=ផ្ដោត
Name[kn]=ನಾಭೀಕರಿಸು (ಫೋಕಸ್)
Name[ko]=초점
Name[ku]=Nîvend Bike
Name[lt]=Fokusas
Name[lv]=Fokuss
Name[mai]=फोकस
Name[mk]=Фокусирање
Name[ml]=ഫോക്കസ്
Name[mr]=केंद्र
Name[ms]=Fokus
Name[nb]=Fokus
Name[nds]=Fokus
Name[ne]=फोकस
Name[nl]=Focus
Name[nn]=Fokus
Name[pa]=ਫੋਕਸ
Name[pl]=Uaktywnianie
Name[pt]=Foco
Name[pt_BR]=Foco
Name[ro]=Focalizare
Name[ru]=Фокус
Name[se]=Fohkus
Name[si]=නාඹිගත කරන්න
Name[sk]=Zameranie
Name[sl]=Žarišče
Name[sr]=Фокус
Name[sr@ijekavian]=Фокус
Name[sr@ijekavianlatin]=Fokus
Name[sr@latin]=Fokus
Name[sv]=Fokus
Name[ta]=முனைப்படுத்து
Name[te]=దృష్టి
Name[tg]=Фокус
Name[th]=การโฟกัส
Name[tr]=Odaklama
Name[ug]=فوكۇس
Name[uk]=Фокус
Name[uz]=Fokus
Name[uz@cyrillic]=Фокус
Name[vi]=Tập trung
Name[wa]=Focus
Name[xh]=Focus
Name[x-test]=xxFocusxx
Name[zh_CN]=焦点
Name[zh_TW]=焦點

Comment[bs]=Pravila aktivnih prozora
Comment[ca]=Política de la finestra activa
Comment[ca@valencia]=Política de la finestra activa
Comment[cs]=Chování aktivního okna
Comment[da]=Politik for aktivt vindue
Comment[de]=Richtlinie für aktives Fenster
Comment[el]=Πολιτική ενεργού παραθύρου
Comment[en_GB]=Active Window Policy
Comment[es]=Política de la ventana activa
Comment[et]=Aktiivse akna reegel
Comment[eu]=Leiho aktiboentzako politika
Comment[fi]=Aktiivisen ikkunan valintatapa
Comment[fr]=Politique pour les fenêtres actives
Comment[gl]=Política da xanela activa
Comment[he]=מדיניות חלון פעיל
Comment[hu]=Aktív ablakok szabályai
Comment[id]=Kebijakan Jendela Aktif
Comment[it]=Politica finestra attiva
Comment[ko]=활성 창 정책
Comment[lt]=Aktyvus lango taisyklės
Comment[nb]=ActiveWindow-styring
Comment[nds]=Regel för't aktive Finster
Comment[nl]=Beleid voor actief venster
Comment[nn]=Aktiv vindaugsstyring
Comment[pa]=ਸਰਗਰਮ ਵਿੰਡੋ ਪਾਲਸੀ
Comment[pl]=Zasady aktywowania okna
Comment[pt]=Política da Janela Activa
Comment[pt_BR]=Política da janela ativa
Comment[ru]=Правила смены активного окна
Comment[sk]=Politika aktívneho okna
Comment[sl]=Pravilnik dejavnih oken
Comment[sr]=Смерница активирања прозора
Comment[sr@ijekavian]=Смерница активирања прозора
Comment[sr@ijekavianlatin]=Smernica aktiviranja prozora
Comment[sr@latin]=Smernica aktiviranja prozora
Comment[sv]=Aktiv fönsterprincip
Comment[tr]=Etkin Pencere Politikası
Comment[uk]=Правила для задіяння вікон
Comment[x-test]=xxActive Window Policyxx
Comment[zh_CN]=活动窗口策略
Comment[zh_TW]=作用中視窗政策
