[Desktop Entry]
Version=1.0
Name=Window Decorations
Comment=Look and Feel of Window Titles
Exec=kcmshell5 kwindecoration
Icon=preferences-system-windows-action
Terminal=false
Type=Application
Categories=LXQt;Qt;Settings;DesktopSettings;
StartupNotify=true
OnlyShowIn=LXQt;

Name[ar]=زخارف النوافذ
Name[bg]=Декорации на прозорците
Name[bs]=Dekoracije prozora
Name[ca]=Decoració de les finestres
Name[ca@valencia]=Decoració de les finestres
Name[cs]=Dekorace oken
Name[da]=Vinduesdekorationer
Name[de]=Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου
Name[en_GB]=Window Decorations
Name[es]=Decoración de ventanas
Name[et]=Akna dekoratsioonid
Name[eu]=Leiho-apaindurak
Name[fi]=Ikkunakehykset
Name[fr]=Décorations de fenêtres
Name[ga]=Maisiúcháin Fhuinneog
Name[gl]=Decoración da xanela
Name[he]=מסגרת חלון
Name[hi]=विंडो सजावट
Name[hr]=Ukrasi prozora
Name[hu]=Ablakdekorációk
Name[ia]=Decorationes de fenestra
Name[id]=Window Decorations
Name[is]=Gluggaskreytingar
Name[it]=Decorazioni delle finestre
Name[ja]=ウィンドウの飾り
Name[kk]=Терезенің безендірулері
Name[km]=ការ​តុបតែង​បង្អួច
Name[kn]=ವಿಂಡೋ ಅಲಂಕಾರಗಳು
Name[ko]=창 장식
Name[lt]=Lango dekoracijos
Name[lv]=Logu dekorācijas
Name[mr]=चौकट सजावट
Name[nb]=Vinduspynt
Name[nds]=Finstern opfladusen
Name[nl]=Vensterdecoraties
Name[nn]=Vindaugspynt
Name[pa]=ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Wygląd okien
Name[pt]=Decorações das Janelas
Name[pt_BR]=Decorações da janela
Name[ro]=Decorații fereastră
Name[ru]=Оформление окон
Name[si]=කවුළු සැරසිලි
Name[sk]=Dekorácie okien
Name[sl]=Okraski oken
Name[sr]=Декорације прозора
Name[sr@ijekavian]=Декорације прозора
Name[sr@ijekavianlatin]=Dekoracije prozora
Name[sr@latin]=Dekoracije prozora
Name[sv]=Fönsterdekorationer
Name[th]=ส่วนตกแต่งหน้าต่าง
Name[tr]=Pencere Dekorasyonları
Name[ug]=كۆزنەك بېزەكلىرى
Name[uk]=Обрамлення вікон
Name[wa]=Gåyotaedjes des fniesses
Name[x-test]=xxWindow Decorationsxx
Name[zh_CN]=窗口装饰
Name[zh_TW]=視窗裝飾

Comment=Look and Feel of Window Titles
Comment[bs]=Izgled i osjećaj naslova prozora
Comment[ca]=Aspecte i comportament dels títols de les finestres
Comment[ca@valencia]=Aspecte i comportament dels títols de les finestres
Comment[cs]=Vzhled a dekorace titulků oken
Comment[da]=Udseendet af vinduestitler
Comment[de]=Erscheinungsbild von Fenstertiteln
Comment[el]=Διαμόρφωση της εμφάνισης και αίσθησης του τίτλου των παραθύρων
Comment[en_GB]=Look and Feel of Window Titles
Comment[es]=Aspecto visual de los títulos de las ventanas
Comment[et]=Akna tiitliribade välimus ja tunnetus
Comment[eu]=Leiho-tituluen itxura eta izaera
Comment[fi]=Ikkunoiden kehysten ulkoasu
Comment[fr]=Apparence des titres de fenêtre
Comment[gl]=Aparencia e o comportamento dos títulos das xanelas
Comment[he]=הגדרת המראה והתחושה של מסגרות החלונות
Comment[hu]=Az ablakok címsorának megjelenése
Comment[ia]=Semblantia de titulos de fenestra
Comment[id]=Look and Feel pada Judul Jendela
Comment[it]=Aspetto dei titoli delle finestre
Comment[ja]=ウィンドウタイトルの外観を設定
Comment[ko]=창 제목 표시줄의 모습과 느낌 설정
Comment[lt]=Langų antraščių išvaizda ir elgsena
Comment[nb]=Utseende og virkemåte for vindustitlene
Comment[nds]=Dat Utsehn vun de Finstertiteln instellen
Comment[nl]=Uiterlijk en gedrag van venstertitels
Comment[nn]=Utsjånad og åtferd for vindaugstitlar
Comment[pa]=ਵਿੰਡੋ ਟਾਇਟਲਾਂ ਦੇ ਰੰਗ-ਰੂਪ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Tytuły okien - wrażenia wzrokowe i dotykowe
Comment[pt]=Aparência e Comportamento dos Títulos das Janelas
Comment[pt_BR]=Aparência do título das janelas
Comment[ru]=Настройка внешнего вида заголовков окон
Comment[sk]=Nastavenie vzhľadu titulkov okien
Comment[sl]=Videz in občutek naslovnih vrstic okna
Comment[sr]=Изглед и осећај за наслове прозора
Comment[sr@ijekavian]=Изглед и осјећај за наслове прозора
Comment[sr@ijekavianlatin]=Izgled i osjećaj za naslove prozora
Comment[sr@latin]=Izgled i osećaj za naslove prozora
Comment[sv]=Namnlisternas utseende och känsla
Comment[tr]=Pencere Başlıklarının Görünüm ve Davranışlarını Yapılandır
Comment[uk]=Вигляд і поведінка смужок заголовків вікон
Comment[x-test]=xxLook and Feel of Window Titlesxx
Comment[zh_CN]=窗口标题的观感
Comment[zh_TW]=視窗標題列的外觀與感覺
