[Desktop Entry]
Version=1.0
Name=Actions
Comment=Mouse Actions on Windows
Exec=kcmshell5 kwinactions
Icon=preferences-system-windows-action
Terminal=false
Type=Application
Categories=LXQt;Qt;Settings;DesktopSettings;
StartupNotify=true
OnlyShowIn=LXQt;

Name[af]=Aksies
Name[ar]=إجراءات
Name[be]=Дзеянні
Name[be@latin]=Aperacyi
Name[bg]=Действия
Name[bn]=কাজ
Name[bn_IN]=কর্ম
Name[br]=Oberoù
Name[bs]=Radnje
Name[ca]=Accions
Name[ca@valencia]=Accions
Name[cs]=Činnosti
Name[csb]=Dzejania
Name[cy]=Gweithredoedd
Name[da]=Handlinger
Name[de]=Aktionen
Name[el]=Ενέργειες
Name[en_GB]=Actions
Name[eo]=Agoj
Name[es]=Acciones
Name[et]=Tegevused
Name[eu]=Ekintzak
Name[fa]=کنشها
Name[fi]=Toiminnot
Name[fr]=Actions
Name[fy]=Aksjes
Name[ga]=Gníomhartha
Name[gl]=Accións
Name[gu]=ક્રિયાઓ
Name[he]=פעולות
Name[hi]=क्रियाएं
Name[hne]=काम
Name[hr]=Aktivnosti
Name[hu]=Műveletek
Name[ia]=Actiones
Name[id]=Actions
Name[is]=Aðgerðir
Name[it]=Azioni
Name[ja]=動作
Name[ka]=ქცევა
Name[kk]=Амалдар
Name[km]=អំពើ
Name[kn]=ಕ್ರಿಯೆಗಳು
Name[ko]=동작
Name[ku]=Çalakî
Name[lt]=Veiksmai
Name[lv]=Darbības
Name[mai]=क्रियासभ
Name[mk]=Акции
Name[ml]=പ്രവര്‍ത്തനങ്ങള്‍
Name[mr]=क्रिया
Name[ms]=Tindakan
Name[nb]=Handlinger
Name[nds]=Akschonen
Name[ne]=कार्य
Name[nl]=Acties
Name[nn]=Handlingar
Name[oc]=Accions
Name[pa]=ਕਾਰਵਾਈਆਂ
Name[pl]=Działania
Name[pt]=Acções
Name[pt_BR]=Ações
Name[ro]=Acțiuni
Name[ru]=Действия
Name[se]=Doaimmat
Name[si]=ක්‍රියා
Name[sk]=Akcie
Name[sl]=Dejanja
Name[sr]=Радње
Name[sr@ijekavian]=Радње
Name[sr@ijekavianlatin]=Radnje
Name[sr@latin]=Radnje
Name[sv]=Åtgärder
Name[ta]=செயல்கள்
Name[te]=చర్యలు
Name[tg]=Амалҳо
Name[th]=การกระทำ
Name[tr]=Eylemler
Name[ug]=مەشغۇلاتلار
Name[uk]=Дії
Name[uz]=Amallar
Name[uz@cyrillic]=Амаллар
Name[vi]=Hành động
Name[wa]=Accions
Name[xh]=Iintshukumo
Name[x-test]=xxActionsxx
Name[zh_CN]=动作
Name[zh_TW]=動作

Comment=Mouse Actions on Windows
Comment[bs]=Akcioje miša na prozorima
Comment[ca]=Accions del ratolí en les finestres
Comment[ca@valencia]=Accions del ratolí en les finestres
Comment[cs]=Činnosti myši na oknech
Comment[da]=Musehandlinger på vinduer
Comment[de]=Maus-Aktionen für Fenster
Comment[el]=Ενέργειες ποντικιού στα παράθυρα
Comment[en_GB]=Mouse Actions on Windows
Comment[es]=Acciones del ratón sobre las ventanas
Comment[et]=Hiiretoimingud akendes
Comment[eu]=Sagu-ekintzak leihoetan
Comment[fi]=Ikkunoiden hiiritoiminnot
Comment[fr]=Actions de souris sur les fenêtres
Comment[gl]=Accións do rato nas xanelas
Comment[he]=הגדרות פעולות עכבר
Comment[hu]=Egérműveletek az ablakokon
Comment[ia]=Actiones de mus sur fenestras
Comment[id]=Aksi Mouse di Jendela
Comment[it]=Azioni del mouse sulle finestre
Comment[ja]=ウインドウ上でのマウスアクション
Comment[ko]=창 마우스 동작 설정
Comment[lt]=Pelės veiksmai ant langų
Comment[nb]=Musehandlinger på vinduer
Comment[nds]=Muusakschonen för Finstern fastleggen
Comment[nl]=Muisacties op vensters
Comment[nn]=Musehandlingar på vindauge
Comment[pa]=ਵਿੰਡੋਜ਼ ਉੱਤੇ ਮਾਊਸ ਐਕਸ਼ਨ
Comment[pl]=Działania myszy na oknach
Comment[pt]=Acções do Rato nas Janelas
Comment[pt_BR]=Ações do mouse nas janelas
Comment[ru]=Настройка действий мыши для окон
Comment[sk]=Akcie myši na oknách
Comment[sl]=Dejanja miške na oknih
Comment[sr]=Радње мишем над прозорима
Comment[sr@ijekavian]=Радње мишем над прозорима
Comment[sr@ijekavianlatin]=Radnje mišem nad prozorima
Comment[sr@latin]=Radnje mišem nad prozorima
Comment[sv]=Musåtgärder för fönster
Comment[tr]=Pencerelerde Fare Eylemleri
Comment[uk]=Дії над вікнами за допомогою миші
Comment[x-test]=xxMouse Actions on Windowsxx
Comment[zh_CN]=窗口的鼠标动作
Comment[zh_TW]=視窗上的滑鼠動作

